h2, h1 
{
    text-transform: uppercase;
    
}
p
{
    font-size: larger;
    border: 1px solid black;
}
h1
{
    padding-top: 50px;
}
nav 
{
    font-size: 1.8rem;
    color: black;
    text-align: left;
}